<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_with model: @user, local: true do |form| %>
          <%= form.label :name, "ユーザー名" %>
          <%= form.text_field :name, value: @user.name %>
          <%= form.label :image, "画像" %>
          <%= form.file_field :image %>
          <%= form.label :email, "メールアドレス" %>
          <%= form.email_field :email, value: @user.email %>
          <%= form.submit "保存" %>
        <% end %>
      </div>
    </div>
  </div>
</div>